/* top nav */

.top-nav{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    transform: translate(-25px);
}

.top-nav ul {
    list-style-type: none;
    display: flex;
  }

.top-nav li{
    padding: 0 6px 0;
}

.top-nav li a{
    text-decoration: none;
    color: rgb(39, 38, 38);
    font-size: 13px;
    font-family: arial,sans-serif;
}

.top-nav li img{
    padding: 5px;
    margin-top: -7px;
}

.top-nav li button{
    padding: 8px;
    color: white;
    background: #4285f4;
    font-weight: bold;
    outline: none;
    border: 1px solid #4285f4;
    border-radius: 3px;
    margin-top: -7px;
}

.top-nav li button:active{
    background: #2257ac;
}

li a:hover{
    text-decoration: underline !important;
}

/* center page */

.main{
    /* border: 3px solid green;  */
    display: flex;
    flex-direction: column;
    margin: 130px; 
    align-items: center;
}

#searchbar{
    margin: 20px;
    padding: 15px;
    width: 450px;
    border: 1px solid #dfe1e5;
    border-radius: 25px;
}

#searchbar:hover{
    box-shadow: 1px 3px 1px 1px #888888;
}

.buttons{
    margin-top: -40px;
}

.btn{
    margin: 1px 4px;
    padding: 10px 16px;
    font-family: arial,sans-serif;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    color: #5F6368;
}

.btn:hover{
    color: black;
    border-color: gray;
}

.mag{
    transform: translate(-215px, -55px);
}

.mic{
    transform: translate(215px, -80px);
}

/* footer */

.footer ul {
    list-style-type: none;
    display: flex;
}

.footer{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: #ecedee;
    position: absolute;
    bottom:0;
    left:0;
}

.footer li a{
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding: 0 10px 0;
    color: #5F6368;
}

.footer ul{
    transform: translatex(-20px);
}
